/* My custom style */

/* Center to page */
body {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #1e1e1e;
}

/* diagnostic styling */
section {
    background: maroon;
  }